footer {
    text-align: center;
    border: 1px solid #711b8c;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    color: antiquewhite;

    width: 90%;
    max-width: 1024px;
}

footer h1 {
    padding: 1rem;
    font-family: 'Tilt Prism';
    font-size: 25px;
    font-weight: 100;
    color: white;
    margin: 0;
}
footer h1:hover {
    color: #711b8c !important;
    transition: 0.5s;
}
@media screen and (max-width: 768px){
    footer {
        width: 100%;
        border-radius: 0;
        border: none;
        border-top: 1px solid #711b8c;
    }
}