header {
    height: 80px;
    width: 80%;
    max-width: 1440px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px dotted #1db954;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

@keyframes roda-roda {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

header > .reactLogo {
    width: 110px;
    animation: roda-roda 2s linear infinite;
}
header .reactLogo:hover {
    filter: invert(70%) sepia(43%) saturate(6861%) hue-rotate(102deg) brightness(99%) contrast(77%);
    transition: 0.5s;
}


header > .socialWrap > a > img {
    width: 37px;
    margin-right: 20px;
}

header > .socialWrap > a > img:hover {
    filter: invert(70%) sepia(43%) saturate(6861%) hue-rotate(102deg) brightness(99%) contrast(77%);
    transition: 0.5s;
}

@media screen and (max-width: 768px){
    header {
        width: 100%;
        border: none;
        border-bottom: 1px dotted #1db954;
        border-radius: 0;
    }
    header .reactLogo {
        width: 90px;
    }
    header > .socialWrap > a > img {
        width: 30px;
    }
}